.scrollLock {
  height: 100%;
  overflow: hidden;
}

.bistroBody {
  background-color: #231F20;
  color: white;
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}

.bistroPageHeading {
  font-size: 2rem;
  text-align: center;
}

.bistroMain {
  display: flex;
  flex-direction: row;
  gap: 102px;
  margin: 0 145px;
}

.bistroMenu {
  width: 450px;
}

.bistroMenuHeading {
  justify-self: center;
  border-bottom: 0.4rem solid white;
  font-size: 1rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  text-align: center;
  width: 7rem;
}

.bistroMenuGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 0 3rem;
}

.bistroMenuGroupHeading {
  font-weight: lighter;
  font-size: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.bistroMeal {
  border-bottom: 0.1rem solid white;
  display: grid;
  grid-auto-flow: column;
}

.bistroMealHeading {
  grid-column: 1 / 2;
  margin: 0;
}

.bistroMealCost {
  align-self: center;
  font-size: 1rem;
  font-weight: lighter;
  grid-column: 2 / 2;
  text-align: end;
}

.bistroMealDescription {
  font-size: 0.9rem;
  font-weight: lighter;
  grid-column: 1 / 2;
  margin: 0.7rem 0;
}

.bistroModalOverlay {
  align-items: center;
  display: none;
  background-color: rgba(255, 255, 255, 0.35);
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.bistroModalActive {
  display: flex;
}

.bistroTableMapModal {
  background-color: #231F20;
  height: min(90vh, 600px);
  width: min(90vw, 500px);
  z-index: 2;
}

.bistroTableMapCounter {
  align-content: center;
  background-color: #D9D9D9;
  border-radius: 0 0 8px 8px;
  height: 64px;
  justify-self: center;
  width: 334px;
}

.bistroTableMapCounterText {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.bistroTableModalCloseBtn {
  background: none;
  border: none;
  cursor: pointer;
  height: 2rem;
  left: calc(100% - 2.5rem);
  position: relative;
  top: calc(-64px + 0.5rem);
  width: 2rem;
}

.bistroTableModalCloseBtn::before,
.bistroTableModalCloseBtn::after {
  background: white;
  content: "";
  height: 0.2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: center;
  width: 2rem;
}

.bistroTableModalCloseBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.bistroTableModalCloseBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bistroModalCloseBtnActive {
  display: block;
}

.bistroTableMapEntranceText {
  font-size: 1.2rem;
  font-weight: normal;
  writing-mode:sideways-rl;
}

.bistroTableMap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
  margin: 1rem;
}

.bistroTableMap > *:nth-child(odd) {
  justify-self: start;
}

.bistroTableMap > *:nth-child(even) {
  justify-self: end;
}

.bistroTableMapTable {
  align-content: center;
  background-color: #D9D9D9;
  color: black;
  height: 4rem;
  width: 10rem;
}

.bistroTableMapTable h4 {
  font-weight: normal;
  text-align: center;
}

.bistroTableBooked {
  background-color: #8b2929;
}

.bistroPlaceholderTableMapButton {
  height: 3rem;
  width: 5rem;
}