/* ============================================================
   ======================   CARDS   ============================
   ============================================================ */


.card {
  background-color: white;
  border: #011827;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.233);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
 .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.imageCard {
  width: 100%;
  height: 270px;
  object-fit: fill;
  display: block;
}


.cardTitle {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.6rem;
  margin-top: 0.5rem;
}
.cardInfo {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.6rem;
  margin: 0;
  text-align: justify;
}
.datesInfo {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.6rem;
  margin: 0;
  text-align: justify;
}