
// sass file for Member page

.memberpageDef{
  min-height: 100vh;
  font-family: Inter;
  background-color: #231f20;
  background-color: #231F20;
  color: #ffffff;
}

.memberWmark {
  font-size: 1.5em;
  color: #353535;
  margin-bottom: 0;
}

h1.memberHone {
  font-weight: 500;
  margin: 0;

  @media (min-width: 460px) {
    font-size: 2em;
  }
}

h1.memberHone {
  font-weight: 500;

  @media (max-width: 459px) {
    font-size: 1.5em;
  }
}

.memberWrap {
  height: auto;
  background-color: #231f20;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 460px) {
  max-width: 34em;
  padding: 2em;
  }
}

.memberWrap {
  height: auto;
  background-color: #231f20;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 459px) {
  max-width: 99%;
  padding: 1em;
  }
}

.placeTemp {
  color: #5c5c5c;
}

.memberLoginWrap {
  width: 100%;
  height: auto;
  background-color: #272324;
  margin: 0 auto;
  border: 1px solid #453f41;
  border-radius: 1em;
}

.memberTitle {
  color: #9ca3af;
  font-size: .9em;
  font-weight: 400;
  margin-top: 10px;
}

.memberInputWrap {
  margin: 0 auto;

  @media (min-width: 460px) {
  width: 70%;
  height: 22em;
  padding: 1em;
  }
}

.memberInputWrap {
  margin: 0 auto;

  @media (max-width: 459px) {
  width: 92%;
  height: 20em;
  padding: 1em;
  }
}

.centerDiv {
  text-align: left;
}

.memberLoginInput {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 2.2em;
  letter-spacing: 1px;
  width: 95%;
  border: 0;
  border-radius: .7em;
  margin-top: .6em;
  margin-bottom: 1.4em;
  padding-left: .8em;
  background-color: #464244;
}

.memberLoginInputSec {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 2.2em;
  letter-spacing: 3px;
  width: 95%;
  border: 0;
  border-radius: .7em;
  margin-top: .6em;
  margin-bottom: 1.4em;
  padding-left: .8em;
  background-color: #464244;
}

.memberLabel {
  font-size: 1em;
}

#memberLoginButton {
  width: 100%;
  height: 3em;
  border-radius: .8em;
  font-size: 1em;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
}

a.memberForgotten {
  color: #5D8FE5;
  text-decoration: none;

   &:hover {
      text-decoration: underline;
    }
}

.iconBtn.active {
  background: var(--pill-active);
  color: var(--text-strong);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12), var(--shadow-soft);

  .fas.fa-user {
    color: white;
  }
}

.memberInfoWrap {
  max-width: 30em;
  margin: auto;
  padding: 0 0 4em 0;

  @media (min-width: 460px) {
  max-width: 30em;
  }
}

.memberInfoWrap {
  width: 100vw;
  margin: auto;

  @media (max-width: 459px) {
  max-width: 22em;
  }
}

#memberInfoTable {
  font-family: Inter;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: left;

  @media (min-width: 460px) {
  width: 100%;
  }
}

#memberInfoTable {
  border-collapse: collapse;
  font-family: Inter;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: left;

  @media (max-width: 459px) {
  width: 100%;
  font-size: 0.9em;
  }
}

.memberInfoCaption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

.memberInfoText {
  vertical-align: top;
}

.memberPrice {
  vertical-align: bottom;
}

.mth1, .mth2, .mtd1, .mtd2 {
  padding: 10px 10px;
}

.mth1 {
  width: 60%;
}

.mth2 {
  width: 40%;
}

.mth2, .mtd2 {
  padding-left: 2em;
}

tr.memberTableRows {
  border-top: 1px solid #453f41;
}

#memberPurchaseButton {
  width: 7em;
  height: 3em;
  font-family: Inter;
  border-radius: .7em;
  font-size: .9em;
  font-weight: 600;
  cursor: pointer;
}